<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccountServiceImplServiceSoapBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="AccountServiceImplServiceSoapBinding4" />
        <binding name="IdentifierServiceImplServiceSoapBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="IdentifierServiceImplServiceSoapBinding4" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="https://85.133.186.11:8324/behdad2/accountservice"
        binding="basicHttpBinding" bindingConfiguration="AccountServiceImplServiceSoapBinding3"
        contract="Accountservice.AccountService" name="AccountServiceImplPort2" />
      <endpoint address="https://85.133.186.11:8324/behdad2/identifierservice"
        binding="basicHttpBinding" bindingConfiguration="IdentifierServiceImplServiceSoapBinding3"
        contract="IdentifierServiceTest.IdentifierService" name="IdentifierServiceImplPort2" />
    </client>
  </system.serviceModel>
</configuration>